.first
{
	font-size: 20px;
	padding: 15px;
}
.div1
{
	margin-left: 15px;
}
.div2
{
	margin-left: 130px;
}
.div3
{
	margin-left: 119px;
}
.div4
{
	margin-left: 129px;
}
.button1
{
	margin-top: 25px;
    margin-left: 85px;
    padding: 5px;
    border: 1px solid;
}